<div class="row">
  <div class="col-sm-8">
    <%= render partial: 'posts/list', locals: {posts: @posts} %>
  </div>
  <div class="col-sm-4">
    <p class="h4"><%= @profile.full_name %></p>
    <%= @profile.username %>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Karma: <%= @profile.karma %> <i class="fa fa-star text-warning"></i></p>
    <p>Cake day: <%= @profile.created_at.strftime("%d/%m/%Y") %></p>
  </div>
</div>
