<!DOCTYPE html>
<html>
  <head>
    <title>Reddit Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag asset_path('logo.png') %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>

    <section style="background-color: #dae0e6;">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 pt-4">

            <% flash.each do |type, msg| %>
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> <%= msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>

            <%= yield %>
          </div>
        </div>
      </div>
    </section>


    <%= render partial: 'layouts/footer' %>
  </body>
</html>
